[submodule "GameStateManagementSample"]
	path = GameStateManagementSample
	url = https://github.com/SimonDarksideJ/GameStateManagementSample.git
[submodule "XMLContentLoading"]
	path = XMLContentLoading
	url = https://github.com/SimonDarksideJ/XMLContentLoading.git
[submodule "SkinnedModel_MonoGame"]
	path = SkinnedModel_MonoGame
	url = https://github.com/SimonDarksideJ/SkinnedModel_MonoGame
[submodule "AimingSample"]
	path = AimingSample
	url = https://github.com/xna-to-monogame/AimingSample.git
